body {
	padding: 10px;
}

.gridBox {
	border: 1px solid silver;
	padding: 2px;
	margin:6px;
	height: 20em;
	width: 19em;
	cursor: default;
}
.scrollPanel{
	height: 15em;
	width: 19em;
}
.browserPanel{
	height: 20em;
	width: 60em;
}
.algOutScrollPanel {
	border: 1px solid silver;
	padding: 0px;
	margin:0px;
	height: 20em;
	width: 60em;
}
.algOutGrid{
	height: 20em;
	width: 58em;
		text-align: center;
		
}
.apTree{
	height: 30em;
	width: 60em;	
		border: 1px solid silver;
}
.inputGrid{
	width: 60em;
}

.rowHeader{
	border-bottom-color:silver;
	border-bottom-style:solid;
	border-bottom-width:thin;
	background-color: #eeeeee;
	text-align: center;
}
.selectedVar{
	background-color: #9999ff;
}
#selectedVar{
	background-color: #9999ff;
}

#selectedEq{
	background-color: #9999ff;
}
#selectedWrapper{
	background-color: #7777cc;
	cursor: move;
	opacity:0.3;
	
}
.selectedDropWrapper{
	border-style:solid;
	border-color:aqua;
}
.dropDescriptor{
	background-color: white;
	border-color: fuchsia;
	border-style: inset;
}
.var{
	background-color: #DCDCDC;
	text-align: center;
}
.varName{
	background-color: #99CCFF;
}
.mouseOverlay{
	background-color: #111111;
	cursor: move;
	opacity:0.4;
}
.sky{
	background-color: #87CEFA;
}