body {
	padding: 10px;
}

.gridBox {
	border: 1px solid silver;
	padding: 2px;
	margin:6px;
	height: 18em;
	width: 12em;
}
.albebraPanel {
	border: 1px solid silver;
	padding: 2px;
	margin:6px;
	height: 20em;
	width: 20em;
}
.sp{
	height: 15em;
	width: 12em;
}

.rowHeader{
	border-bottom-color:silver;
	border-bottom-style:solid;
	border-bottom-width:thin;
	cursor: default;
	background-color: #eeeeee;
	text-align: center;
}

.selectedVar{
	background-color: #9999ff;
}
#selectedVar{
	background-color: #9999ff;
}

#selectedEq{
	background-color: #9999ff;
}

.var{
	background-color: #ddddff;
}
.varName{
	background-color: #f5f5ff;
}


