body {
}

.center {
	margin: auto;
}
.textCenter{
	text-align: center;
	vertical-align: middle;
}
.selectable{
	cursor: pointer;
}
#scienceGadgetArea {
	background-color: #ADD850;
/* 	margin: auto; */
}

.gridBox {
	border: 1px solid silver;
	background-color: white;
	padding: 2px;
	margin: 4px;
	height: 20em;
	width: 19em;
	cursor: default;
}
.modes{
	margin: auto;
	padding: 4px;
	background-color: silver;
}

.scrollPanel {
	height: 15em;
	width: 19em;
}

.browserPanel {
	height: 40em;
	margin: auto;
/* 	width: 60em; */
}

.algOutScrollPanel {
	border-bottom: 1px solid gray;
	height: 6em;
}

.algOutGrid {
	height: 6em;
	text-align: center;
}

.inputGrid {
	width: 60em;
}

.rowHeader {
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: thin;
	background-color: #eeeeee;
	text-align: center;
}

.selectedVar {
	background-color: #9999ff;
}

#selectedVar {
	background-color: #9999ff;
}

#selectedEq {
	background-color: #9999ff;
}

#selectedWrapper {
	background-color: fuchsia;
	cursor: move;
	opacity: 0.5;
}

.selectedDropWrapper {
	border-style: solid;
	border-color: fuchsia;
}

.dropDescriptor {
	background-color: white;
	border-color: fuchsia;
	border-style: inset;
}

.var {
	
	opacity: .3;
	background-color: #FFFFFF;
	text-align: center;
}

.varName {
	background-color: #0000FF;
}
.wrap{
	opacity: 1;
	background-color: #FFFFFF;
/* 	border: green thin solid; */
}

.mouseOverlay {
	background-color: gray;
	cursor: move;
	opacity: 0.4;
}

.removeNodeButton{
	background-color: red;
	
}
.Sum{
	background-color: purple;
}
.Term{
	background-color: orange;
}
.Exponential{
	background-color: olive;
}
.Fraction{
	background-color: navy;
}
.Number{
	background-color: silver;
}
.Variable{
	background-color: aqua;
}
.Operation{
	background-color: teal;
}

