@CHARSET "UTF-8";

.transformationButton {
	color: black;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	-moz-box-shadow: #000000 0 0 1px 1px;
	-webkit-box-shadow: #000000 0 0 1px 1px;
	box-shadow: #000000 0 0 1px 1px;
}

.transformationButton:disabled {
	color: gray;
	font-weight: lighter;
}

.transformationButton:hover {
	-moz-box-shadow: #000000 0 0 2px 2px;
	-webkit-box-shadow: #000000 0 0 2px 2px;
	box-shadow: #000000 0 0 2px 2px;
	text-shadow: 1px 3px 4px #000000;
}

.transformationButton:active {
	-moz-box-shadow: #000000 0 0 3px 3px;
	-webkit-box-shadow: #000000 0 0 3px 3px;
	box-shadow: #000000 0 0 3px 3px;
	text-shadow: 2px 3px 4px #000000;
	position: relative;
	top: 1px;
}

.saveEquationButton {
	width: 50%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.changeNodeButton {
	vertical-align: top;
}

.bothSidesButton {
	background-color: white;
}

.bothSidesButtonSelected {
	background-color: black;
	color: white;
}

.tab {
	background-image: url('images/tab.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}
.insertVarDescription{
	background-color: gray;
	color: white;
	border: 2px solid black;
}
.insertVarImage{
	background-color: white;
	color: black;
	border: 2px solid silver;
}
.insertVarImageActive{
	background-color: silver;
	color: black;
}
.insertVarSolve{
	background-color: gray;
	color: white;
	border: 2px solid black;
}
.insertVarSolveActive{
	background-color: silver;
	color: black;
}

.smallestButton {
	height: 50px;
	width: 50px;
}

.mediumButton {
	height: 70px;
	width: 70px;
}