@CHARSET "UTF-8";

.transformationButton {
	color: black;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa */
/* 		), color-stop(1, #80b5ea) ); */
/* 	background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%); */
/* 	background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%); */
/* 	background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%); */
/* 	background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%); */
/* 	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', */
/* 		endColorstr='#80b5ea', GradientType=0 ); */
/* 	background-color: #50faa8; */
	text-align: center;
	-moz-box-shadow: inset #000000 1px 0 0 0;
	-webkit-box-shadow: inset #000000 1px 0 0 0;
	box-shadow: inset #000000 1px 0 0 0;
}

.transformationButton:disabled {
	color: gray;
	font-weight: lighter;
}

.transformationButton:hover {
	text-shadow: 1px 3px 4px #000000;
}

.transformationButton:active {
	position: relative;
	top: 1px;
}

.saveEquationButton {
	width: 100%;
	height: 100%
}

.changeNodeButton {
	vertical-align: top;
}

.bothSidesButton {
	background-color: white;
}

.smallestButton {
	height: 50px;
	width: 50px;
}

.mediumButton {
	height: 70px;
	width: 70px;
}