body {
	padding: 10px;
}

.gridBox {
	border: 1px solid silver;
	padding: 2px;
	margin:6px;
	height: 18em;
	width: 12em;
	cursor: default;
}
.browserPanel{
	height: 18em;
	width: 40em;
}
.albebraPanel {
	border: 1px solid silver;
	padding: 0px;
	margin:0px;
	height: 30em;
	width: 40em;
}
.algOutPanel{
	height: 20em;
	width: 30em;
		text-align: center;
		
}
.algDragPanel{
	height: 10em;
	width: 30em;
	border: 1px solid silver;
	text-align: center;
}
.treePanel{
	height: 30em;
	width: 40em;	
		border: 1px solid silver;
}
.sp{
	height: 15em;
	width: 12em;
}

.rowHeader{
	border-bottom-color:silver;
	border-bottom-style:solid;
	border-bottom-width:thin;
	background-color: #eeeeee;
	text-align: center;
}
.selectedVar{
	background-color: #9999ff;
}
#selectedVar{
	background-color: #9999ff;
}

#selectedEq{
	background-color: #9999ff;
}

.var{
	background-color: #CCCCFF;
}
.varName{
	background-color: #99CCFF;
}
.mouseOverlayDefault{
	background-color: #111111;
	cursor: move;
	opacity:0.6;
}
.mouseOverlayNumber{
	background-color: #333333;
	cursor: move;
	opacity:0.6;
}
.mouseOverlayOperator{
	background-color: #777777;
	cursor: move;
	opacity:0.6;
}
.mouseOverlayTerm{
	background-color: #aaaaaa;
	cursor: move;
	opacity:0.6;
}


