@CHARSET "UTF-8";

/* general buttons */
.sg-smallestButton {
	height: 50px;
	width: 50px;
}

.sg-mediumButton {
	height: 70px;
	width: 70px;
}

/* transformation buttons */
.sg-transformationButton {
	color: black;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-align: center;
	-moz-box-shadow: #000000 0 0 1px 1px;
	-webkit-box-shadow: #000000 0 0 1px 1px;
	box-shadow: #000000 0 0 1px 1px;
	background-color: rgba(255, 100, 50, 0.5);
}

.sg-transformationButton:disabled {
	color: gray;
	font-weight: lighter;
}

.sg-transformationButton:hover {
	-moz-box-shadow: #000000 0 0 2px 2px;
	-webkit-box-shadow: #000000 0 0 2px 2px;
	box-shadow: #000000 0 0 2px 2px;
	text-shadow: 1px 3px 4px #000000;
}

.sg-transformationButton:active {
	-moz-box-shadow: #000000 0 0 3px 3px;
	-webkit-box-shadow: #000000 0 0 3px 3px;
	box-shadow: #000000 0 0 3px 3px;
	text-shadow: 2px 3px 4px #000000;
	position: relative;
	top: 1px;
}

.sg-bothSidesButton {
	background-color: white;
}

.sg-bothSidesButtonSelected {
	background-color: black;
	color: white;
}

/* edit buttons */
.sg-saveEquationButton {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 10vmin;
	text-shadow: 0px 0 5px black;
}

.sg-changeNodeButton {
	vertical-align: top;
}

.sg-tab {
	background-image: url('images/tab.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

/* problem prompt */
.sg-insertVarDescription {
	background-color: gray;
	color: white;
	border: 2px solid black;
}

.sg-insertVarImage {
	background-color: white;
	color: black;
	border: 2px solid silver;
}

.sg-insertVarImageActive {
	background-color: silver;
	color: black;
}

.sg-insertVarSolve {
	background-color: gray;
	color: white;
	border: 2px solid black;
}

.sg-insertVarSolveActive {
	background-color: silver;
	color: black;
}

#sg-generateButton{
	width: 100%;
	height: 100%;
	font-weight: bold;
	background-color: silver;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: gray 0 0 10px 3px inset;
	-webkit-box-shadow: gray 0 0 10px 3px inset;
	box-shadow: gray 0 0 10px 3px inset;
	text-shadow: 0px 0px 7px white;
	border: none;
}
.sg-activitySelectionButton{
	background-color: #aaf;
  background-image: -webkit-linear-gradient(top, white, #aaf);
  background-image: -moz-linear-gradient(top, white, #aaf);
  background-image: -ms-linear-gradient(top, white, #aaf);
  background-image: -o-linear-gradient(top, white, #aaf);
  background-image: linear-gradient(to bottom, white, #aaf);
}
.sg-activitySelectionButtonSelected{
	background-color: lightGray;
	color: gray;
	font-weight: lighter;
}
.sg-makeEqButton{
	border-top: solid black Thick;
	background-color: #aaf;
	-moz-box-shadow: gray 0 0 10px 3px inset;
	-webkit-box-shadow: gray 0 0 10px 3px inset;
	box-shadow: gray 0 0 10px 3px inset;
}
