@CHARSET "UTF-8";

button{
	outline: none;
}

/* general buttons */
.sg-smallestButton {
	height: 50px;
	width: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: lavender;
}

.sg-mediumButton {
	height: 70px;
	width: 70px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: lavender;
}

/* transformation buttons */
.sg-transformationButton {
	outline: none;
	cursor: default;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	-moz-box-shadow: gray 0 0 5px 0 inset;
	-webkit-box-shadow: gray 0 0 5px 0 inset;
	box-shadow: gray 0 0 5px 0 inset;
}

.sg-transformationButton:disabled {
	color: gray;
	font-weight: lighter;
}

.sg-transformationButton:hover {
	-moz-box-shadow: white 0 0 2px 2px inset;
	-webkit-box-shadow: white 0 0 2px 2px inset;
	box-shadow: white 0 0 2px 2px inset;
}

.sg-transformationButton:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: relative;
	top: 1px;
}

.sg-bothSidesButton.sg-transformationButton {
	background-color: white;
	color: black;
}

.sg-bothSidesButton.sg-transformationButton:hover {
	-moz-box-shadow: #505050 0 0 3px 3px inset;
	-webkit-box-shadow: #505050 0 0 3px 3px inset;
	box-shadow: #505050 0 0 3px 3px inset;
}

.sg-bothSidesButtonSelected {
	background-color: black;
	color: white;
}

/* edit buttons */
.sg-saveEquationButton {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 8vmin;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: lavender;
}

.sg-changeNodeButton {
	vertical-align: top;
}

.sg-tab {
	background-image: url('images/tab.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

/* problem prompt */
.sg-insertVarDescription {
	background-color: gray;
	color: white;
	border: 2px solid black;
}

.sg-insertVarImage {
	background-color: white;
	color: black;
	border: 2px solid silver;
}

.sg-insertVarImageActive {
	background-color: silver;
	color: black;
}

.sg-insertVarSolve {
	background-color: gray;
	color: white;
	border: 2px solid black;
}

.sg-insertVarSolveActive {
	background-color: silver;
	color: black;
}

#sg-generateButton {
	width: 100%;
	height: 100%;
	font-weight: bold;
	background-color: silver;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: gray 0 0 10px 3px inset;
	-webkit-box-shadow: gray 0 0 10px 3px inset;
	box-shadow: gray 0 0 10px 3px inset;
	text-shadow: 0px 0px 7px white;
	border: none;
}

.sg-activitySelectionButton {
	
}

.sg-activitySelectionButtonSelected {
	background-color: lightGray;
	font-weight: lighter;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.sg-makeEqButton {
	border-top: solid black Thick;
	background-color: #aaf;
	-moz-box-shadow: gray 0 0 10px 3px inset;
	-webkit-box-shadow: gray 0 0 10px 3px inset;
	box-shadow: gray 0 0 10px 3px inset;
}

.sg-createGoalButton {
	height: 100%;
	width: 30%;
}

.sg-okPromptButton {
	margin: 7px
}

.sg-equationSelection {
	width: 90%;
	height: 70px;
	margin: 10px 5% 0 5%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: lavender;
}

.sg-insertEquationOption {
	width: 90%;
	height: 70px;
	margin: 10px 5% 0 5%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: silver;
}

.sg-insertEquationOption:ACTIVE {
	background-color: gray;
}