@CHARSET "UTF-8";

.sg-displayWrapper {
	color: white;
}
.sg-eqPanel .sg-Operation {
	font-family: Serif;	
}
/*---------------parentWrapper---------------*/

/* Note * There should be no spaces, auto-formatting adds space */
/* .sg-parentWrapper.sg-Sum, */
/* .sg-transformationButton.sg-Sum { */
/* 	color: gold; */
/* } */

/* .sg-parentWrapper.sg-Term, */
/* .sg-transformationButton.sg-Term { */
/* 	color: red; */
/* } */

/* .sg-parentWrapper.sg-Fraction, */
/* .sg-transformationButton.sg-Fraction { */
/* 	background-color: darkOrange; */
/* } */

/* .sg-parentWrapper.sg-Exponential, */
/* .sg-transformationButton.sg-Exponential { */
/* 	background-color: Magenta; */
/* } */

/* .sg-parentWrapper.sg-Log, */
/* .sg-transformationButton.sg-Log { */
/* 	background-color: SpringGreen; */
/* } */

/* .sg-parentWrapper.sg-Trig, */
/* .sg-transformationButton.sg-Trig { */
/* 	background-color: tan; */
/* } */

/* .sg-parentWrapper.sg-Number, */
/* .sg-transformationButton.sg-Number { */
/* 	background-color: skyBlue; */
/* } */

/* .sg-parentWrapper.sg-Variable, */
/* .sg-transformationButton.sg-Variable { */
/* 	background-color: darkBlue; */
/* } */

/* .sg-parentWrapper.sg-Equation, */
/* .sg-transformationButton.sg-Equation { */
/* 	color: darkGreen; */
/* } */

/*---------------displayWrapper---------------*/

.sg-displayWrapper.sg-Operation {
	padding: 0 1em;
}
.sg-in-equation.sg-Operation{
	padding: 0 1em;
}
.sg-eqPanel:not(.sg-editMode) .sg-in-equation.sg-Operation { /* equals sign (=) */
	color: rgba(0,0,0,0);
	text-shadow: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('images/crystal_equals.png');
	
	opacity: 0.2;
}

.sg-eqPanel:not(.sg-editMode) .sg-displayWrapper.sg-Operation {
	color: rgba(0,0,0,0);
	text-shadow: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sg-eqPanel:not(.sg-editMode) .sg-displayWrapper.sg-in-term.sg-Operation { /*multiply(x)*/
	background-image: url('images/crystal_multiply.png');
}
.sg-eqPanel:not(.sg-editMode) .sg-displayWrapper.sg-in-sum.sg-Operation.sg-plus { /*add(+)*/
	background-image: url('images/crystal_add.png');
}
.sg-eqPanel:not(.sg-editMode) .sg-displayWrapper.sg-in-sum.sg-Operation.sg-minus { /*subtract(-)*/
	background-image: url('images/crystal_subtract.png');
}

.sg-parentWrapper.sg-Sum,
.sg-transformationButton.sg-Sum,
.sg-displayWrapper.sg-Sum {
/* 	color: #D0D000; */
	color: white;
}
.sg-parentWrapper.sg-Term,
.sg-transformationButton.sg-Term,
.sg-displayWrapper.sg-Term {
/* 	color: #E05050; */
	color: white;
}
.sg-parentWrapper.sg-Fraction,
.sg-transformationButton.sg-Fraction,
.sg-displayWrapper.sg-Fraction {
/* 	color: orange; */
	color: white;
}
.sg-parentWrapper.sg-Exponential,
.sg-transformationButton.sg-Exponential,
.sg-displayWrapper.sg-Exponential {
/* 	color: magenta; */
	color: white;
}
.sg-parentWrapper.sg-Log,
.sg-transformationButton.sg-Log,
.sg-displayWrapper.sg-Log {
/* 	color: springGreen; */
	color: white;
}
.sg-parentWrapper.sg-Trig,
.sg-transformationButton.sg-Trig,
.sg-displayWrapper.sg-Trig {
/* 	color: tan; */
	color: white;
}
.sg-parentWrapper.sg-Number,
.sg-transformationButton.sg-Number,
.sg-displayWrapper.sg-Number {
/* 	color: skyBlue; */
	color: white;
}
.sg-parentWrapper.sg-Variable,
.sg-transformationButton.sg-Variable,
.sg-displayWrapper.sg-Variable {
/* 	color: blue; */
	color: white;
}
.sg-parentWrapper.sg-Equation,
.sg-transformationButton.sg-Equation,
.sg-displayWrapper.sg-Equation {
	color: white;
}


/*---------------wrappers---------------*/

.sg-displayWrapper:not(.sg-Operation) {
	-moz-border-radius: 0.1em;
	-webkit-border-radius: 0.1em;
 	border-radius: 0.1em;

	z-index: 2;
}

.sg-eqPanel .sg-displayWrapper:not(.sg-selectedWrapper):hover {
	background-color: rgba(100,100,100,0.3);
	
	-moz-box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.3);
	-webkit-box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.3);
	box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.3);
}

.sg-editMode .sg-parentWrapper{
	background-color: #101010;
	-moz-box-shadow: 0 0 0.1em 0.1em #101010;
	-webkit-box-shadow: 0 0 0.1em 0.1em #101010;
	box-shadow: 0 0 0.1em 0.1em #101010;
}

.sg-editMode .sg-displayWrapper:not(.sg-Operation){
	margin: 5px;
	background-color: #202020;
	-moz-box-shadow: 0 0 0.1em 0.1em #202020;
	-webkit-box-shadow: 0 0 0.1em 0.1em #202020;
	box-shadow: 0 0 0.1em 0.1em #202020;
}

.sg-selectedWrapper:not(.sg-Operation){
	background-color: rgb(100,100,100);

	-moz-box-shadow: 0 0 0.3em 0.3em rgb(100,100,100);
	-webkit-box-shadow: 0 0 0.3em 0.3em rgb(100,100,100);
	box-shadow: 0 0 0.3em 0.3em rgb(100,100,100);
	
	position: relative;
}
.sg-selectedWrapper.sg-Operation{
	background-color: rgba(100,100,100,0.5);

	-moz-box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.5);
	-webkit-box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.5);
	box-shadow: 0 0 0.3em 0.3em rgba(100,100,100,0.5);
}

.sg-dragdrop-dragging {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	
	text-shadow: .15em .15em .15em #000000;
	position: relative;
	top: -0.05em;
	left: -0.05em;
}

.sg-selectedDropWrapper {
	text-shadow: .15em .15em .15em #000000;
	
	-moz-box-shadow: .15em .15em .15em #000000;
	-webkit-box-shadow: .15em .15em .15em #000000;
	box-shadow: .15em .15em .15em #000000;
	position: relative;
	top: -0.05em;
	left: -0.05em;
}

.sg-selectionDetails {
	width: 100%;
	height: 100%;
/* 	background-color: white; */
	text-align: center;
}

.sg-conversionWrapper {
	border: medium solid black;
	background-color: lime;
	cursor: move;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.sg-dropEnterResponse {
	background-color: white;
	text-align: center;
	font-weight: bold;
}

/*---------------EquationHTML (display)---------------*/
.sg-Equation,.sg-Expression {
	font-family: math;
	display: inline-block;
}

.sg-eqPanel .sg-Equation,.sg-eqPanel .sg-Expression{
	position: absolute;
}

.sg-Fraction {
	vertical-align: middle;
}

.sg-in-equation {
	display: inline-block;
	/* 	position: relative; */
}

.sg-in-sum {
	display: inline-block;
	/* 	position: relative; */
}

.sg-in-term {
	display: inline-block;
	/* 	position: relative; */
}

.sg-in-exponential-base {
	display: inline-block;
}

.sg-in-exponential-exponent { /* 	font-size: 40%; */
	display: inline-block;
	vertical-align: super;
	position: relative;
}

/* Note * There should be no spaces, auto-formatting adds space*/
.sg-in-exponential-exponent.sg-Fraction {
	font-size: 20%;
}

/* Note * There should be no spaces, auto-formatting adds space*/
.sg-in-exponential-exponent:not(.sg-Fraction){
	font-size: 40%;
}

.sg-in-fraction-numerator {
	margin-left: 0.7em;
	margin-right: 0.7em;
	text-align: center;
}

.sg-fraction-line{
	border-bottom: 1px solid white;
	z-index: 3;
}

.sg-parentWrapper > .sg-Fraction > .sg-fraction-line{
	border-bottom: 5px solid white;
}

.sg-in-fraction-denominator {
	margin-left: 0.7em;
	margin-right: 0.7em;
	text-align: center;
}

.sg-in-log {
	display: inline-block;
	/* 	position: relative; */
	border-right: solid 0.05em;
	border-left: solid 0.05em;
	padding-left: 0.15em;
	padding-right: 0.15em;
	margin: 0.1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
 	border-radius: 1em;
}

.sg-in-trig {
	display: inline-block;
	/* 	position: relative; */
	border-right: solid 0.05em;
	border-left: solid 0.05em;
	padding-left: 0.15em;
	padding-right: 0.15em;
	margin: 0.1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
 	border-radius: 1em;
}

.sg-in-log-base {
	font-size: 40%;
	display: inline-block;
	vertical-align: sub;
	/* 	position: relative; */
}

.sg-fenced {
	border-right: solid .08em;
	border-left: solid .08em;
	padding-left: 0.15em;
	padding-right: 0.15em;
	margin: 0.1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
 	border-radius: 1em;
}

.sg-functionName {
	display: inline-block;
	/* 	position: relative; */
	vertical-align: middle;
}
.sg-displayWrapper>.sg-unit{
	color:black;
}
.sg-unit {
	font-family: sans-serif;
}

.sg-subscript {
	vertical-align: sub;
	display: inline-block;
	font-size: 50%;
}

.sg-numberValue {
	z-index: 3;
	overflow: hidden;
	color: gray;
}
