@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: 'math';
	src: url('fonts/math.eot?') format('eot'), url('fonts/math.woff')
		format('woff'), url('fonts/math.otf') format('opentype');
}

#sg-scienceGadgetArea {
/* 	don't allow accidentally select stuff */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	font-family: sans-serif;
/* 	background-image: url('images/chalkboard.jpeg'); */
	background-color: #101010;
/* 	box-shadow:0 0 30px black inset; */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: auto;
}

.sg-textCenter {
	text-align: center;
	vertical-align: middle;
}

.sg-fillParent {
	width: 100%;
	height: 100%;
}

.sg-fitParentHTML {
	display: inline-block;
	text-align: center;
}

/*---------------Browsers---------------*/
.sg-mainTitle{
	height:12%;
	font-size: 8vmin;
	text-decoration: none;
	text-shadow: 0 0 0.2em lime;
	color: white;
	display: block;
	text-align: center;
	
}
#sg-equationBrowser {
	margin: auto;
	height: 100%;
}

.sg-modes {
	margin: auto;
	background-color: silver;
	height: 10%;
}

.sg-rowHeader {
	border-bottom-color: gray;
	border-bottom-style: solid;
	border-bottom-width: medium;
	background-color: #aaaaaa;
	text-align: center;
}

.sg-rowSubHeader {
	border-bottom-color: silver;
	border-bottom-style: solid;
	border-bottom-width: thin;
	background-color: #eeeeee;
	text-align: center;
}

#sg-activitySelectionPanel {
	display: inline-block;
	width: 30%;
	height: 80%;
	margin: 0 5% 5% 5%;
	text-align: center;
	vertical-align: top;
}

#sg-activityDetailsPanel {
	display: inline-block;
	width: 55%;
	height: 80%;
	margin: 0 5% 5% 0;
	vertical-align: top;
}

#sg-algBrowserPanel {
	height: 100%;
	width: 100%;
	text-align: center;
}

#sg-eqGeneratorPanel {
	height: 100%;
	width: 100%;
	background-color: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
 	border-radius: 10px;
	-moz-box-shadow: silver 0 0 10px 3px inset;
	-webkit-box-shadow: silver 0 0 10px 3px inset;
	box-shadow: silver 0 0 10px 3px inset;
}

#sg-challengeBrowserPanel {
	height: 100%;
	width: 100%;
	text-align: center;
}

#sg-algBrowser {
	width: 100%;
	height: 90%;
}

.sg-equationSolveButton {
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: RoyalBlue;
}

#sg-sciBrowser {
	margin: auto;
	height: 100%;
	text-align: center;
}

#sg-sciBrowseVar {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 80%;
}

#sg-sciBrowseEq {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 80%;
}

#sg-sciBrowseSum {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 80%;
}

.sg-diagramMeasure {
	color: black;
	background-color: white;
	padding-left: 2px;
	padding-right: 2px;
}
.sg-conversionSpec{
	width: 100%;
	height: 100%;
	background-color: lightGray;
}
/*---------------ConversionActivity---------------*/
#sg-conversionActivity {
	width: 100%;
	height: 100%;
	text-align: center;
}

/*---------------SelectionPanel---------------*/
.sg-selectionPanel {
	overflow-y: auto;
	background-color: white;
	color: black;
	cursor: pointer;
	height: 100%;
}

.sg-selectionPanelCell {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sg-selectedCell {
	background-color: #9999ff;
}

.sg-quantityKindPrefix {
	border-bottom: medium solid brown;
	background-color: tan
}

/*---------------AlgOut---------------*/
.sg-algOut {
	color: black;
	text-align: center;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 10;
}

.sg-algOutRow {
	border-top: thin solid blue;
	background-color: white;
}

.sg-algOutEqRow {
	display: inline-block;
	vertical-align: top;
	width: 68%;
	height: 100%;
	border-right: thin solid red;
}

.sg-algOutEqLeft {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 45%;
}

.sg-algOutEqEquals {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
}

.sg-algOutEqRight { /* 	float: left; */
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	width: 45%;
}

.sg-algOutChangeRow {
	color: red;
	background-color: #FFFF99;
}

.sg-algOutRuleRow {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
	color: red;
	text-decoration: none;
}

/*---------------changes---------------*/
.sg-highlight {
	color: red;
}

.sg-lineThrough {
	color: red;
	text-decoration: line-through;
}


/*---------------layout---------------*/
.sg-eqPanel {
	width: 100%;
	height: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #202020;
	box-shadow:0 0 10px black inset;
}

.sg-eqLayer {
	height: 100%;
	width: 100%;
/* 	margin: 5%; */
/* 	text-align: center; */
/* 	padding-top: 10px; */
	white-space: nowrap;
}

.sg-layoutRow {
	display: inline-block;
	vertical-align: top;
}

.sg-bothSidesPanel {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	height: 100%;
}

.sg-simplifyPanel {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	height: 100%;
}

/*---------------popups---------------*/
.gwt-DialogBox {
	text-align: center;
	background-color: #E6E6FA;
	z-index: 100;
	border: thick solid green;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
 	border-radius: 1em;
    box-shadow: 0 0 30px 15px black;
	
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity =   30);
}

/*---------------toggle---------------*/
.sg-toggleSlide {
	background-color: gray;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	height: 100%;
}

.sg-toggleOption {
	width: 50%;
	height: 100%;
	text-align: center;
	display: inline-block;
}

.sg-toggleOptionSelected {
	background-color: lavender;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/*---------------prompts---------------*/
.sg-numberDisplay {
	text-align: center;
	background-color: lime;
	border: thin solid darkGreen;
	min-width: 3px;
	min-height: 1.5em;
	word-wrap: break-word;
}

.sg-promptMain {
	background-color: #ADD850;
}

.sg-keyPadNumerical {
	background-color: lightGray;
	padding: 5px;
}

.sg-doubleFontSize {
	font-size: 200%;
}

.sg-invalidInput {
	/* 	red overlay without interfering with background-color */
	-moz-box-shadow: 0px 100px 0px red inset;
	-webkit-box-shadow: 0px 100px 0px red inset;
	box-shadow: 0px 100px 0px red inset;
}

.sg-okGap {
	height: 5px;
	border-top: thick solid green;
}

.sg-exampleHtml {
	font-size: 300%;
	border-bottom: thin solid green;
}

.sg-establishedQuantitySelection {
	color: black;
	height: 98%;
	width: 23%;
	display: inline-block;
	margin-right: 2%;
	text-align: left;
	padding-left: 1em;
}

.sg-quantityPromptSpec {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	height: 98%;
	margin-right: 1%;
}
.sg-unitSearch{
	width: 100%;
	height: 20%;
	padding: 0;
	border: none;
}